
Options +FollowSymLinks

RewriteEngine on

RewriteCond %{HTTP_HOST} https://adriencurrier.github\.io [NC,OR]
RewriteCond %{HTTPS_HOST} https://adriencurrier.github\.io [NC]

RewriteCond %{REQUEST_URI} ^/index.html$ [NC]

RewriteRule ^(.*)$ "https://adriencurrier.github.io/en/informations.html" [L]

ErrorDocument 403 "https://adriencurrier.github.io/PageNotFound.html"
ErrorDocument 404 "https://adriencurrier.github.io/PageNotFound.html"